


 

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script>
function GetIEVersion() {
  var sAgent = window.navigator.userAgent;
  var Idx = sAgent.indexOf("MSIE");

  // If IE, return version number.
  if (Idx > 0) 
    return parseInt(sAgent.substring(Idx+ 5, sAgent.indexOf(".", Idx)));

  // If IE 11 then look for Updated user agent string.
  else if (!!navigator.userAgent.match(/Trident\/7\./)) 
    return 11;

  else
    return 0; //It is not IE
}

if (GetIEVersion() > 0) {
   alert("How dare you use Internet Explorer version " + GetIEVersion() + "! Now you must die!");
  
  //redirect to done page here
  location.href = "/views/doom.html";
  //quick question dude.
  //why if i try to redirect it there it shows cannot get /doom.html
else
 //um dude?
}



function artredir() { 
 redirect("http://patorjk.com/misc/scrollingtext/timewaster.php?text="+document.getElementById('artinput').value); 
}
function asciiredir() {
 redirect('http://patorjk.com/software/taag/#p=display&f=Big&t='+document.getElementById('artinput').value); 
}
function savecookie(name,value) {
 document.cookie = name+"="+value; 
}
function redirect(url) {
 location.href = url
}
  // ok this is javascript here normal people comments work.  its useless im too garbage at coding yeah just ignore that ill do some smexy
  //um dude! like bring ur function area text thing back like have all of the stuff here it will fit
</script>
<div class="wrapper">
<input id="artinput"><button onclick="redirect('http://patorjk.com/misc/scrollingtext/timewaster.php?text='+document.getElementById('artinput').value')">
Text art
</button>
<button onclick="redirect('http://patorjk.com/software/taag/#p=display&f=Big&t='+document.getElementById('artinput').value')">
  //'
Text ascii  
</button>
<button onclick="location.href = 'logger.html'">
  Logger
  </button>
</div>

